[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
pandas = "*"
webdriver-manager = "*"
bs4 = "*"
undetected_chromedriver = "*"
requests_html = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.10"
